<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appleworksltd.twickr">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icon1"
        android:label="twicks"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainFiles.Welcome"
            android:label="twicks"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainFiles.AccountDetails"
            android:label="Activity Details"
            android:parentActivityName=".MainFiles.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appleworksltd.twickr.MainFiles.MainActivity" />
        </activity>
        <activity
            android:name=".MainFiles.EventsDetails"
            android:label="Activity Details"
            android:parentActivityName=".MainFiles.EventsDetails"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appleworksltd.twickr.MainFiles.MainActivity" />
        </activity>
        <activity android:name=".MainFiles.MainActivity" />
        <activity
            android:name=".MainFiles.Login"
            android:label="Twicks"
            android:parentActivityName=".MainFiles.Login"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainFiles.Register"
            android:label="Register"
            android:parentActivityName=".MainFiles.Register"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".MainFiles.ReviewDetails"
            android:label="@string/title_activity_account"
            android:parentActivityName=".MainFiles.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.appleworksltd.twickr.MainFiles.MainActivity" />
        </activity>
        <activity
            android:name=".MainFiles.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar"></activity>



    </application>

</manifest>